<app-header title="alert"></app-header>

<ion-content>

    <ion-button (click)="presentAlert()" expand="block">
        Alert
    </ion-button>

    <ion-button (click)="presentAlertMultipleButtons()" expand="block">
        Alert multiple buttons
    </ion-button>

    <ion-button (click)="presentAlertMultipleActionButtons()" expand="block">
        Alert multiple action buttons
    </ion-button>

    <ion-button (click)="presentAlertPrompt()" expand="block">
        Alert prompt
    </ion-button>

</ion-content>
